Repository univelop/univelop.github.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @maxsk-ger, @janneskoehler, @cJannik, @plw307, @MareenToebber

.github/CODEOWNERS:

# Here is defined who is responsible for which page in the repository
# Github Tags:
# Jannes: janneskoehler
# Mareen: MareenToebber
# Max: maxsk-ger
# Jannik: cJannik
# Paul: plw307


# ==================================================================
#                                Misc
# ==================================================================

.* @maxsk-ger
*README* @maxsk-ger
*LICENSE* @janneskoehler
*Gemfile* @maxsk-ger @cJannik
*CNAME* @janneskoehler
*favicon* @janneskoehler
*404* @maxsk-ger @cJannik
*prettier* @maxsk-ger @cJannik
*.gitignore @maxsk-ger @cJannik
*.yml @maxsk-ger @cJannik
*.scss @maxsk-ger @cJannik
*.css @maxsk-ger @cJannik
*_includes @maxsk-ger @cJannik


# ==================================================================
#                                Pages
# ==================================================================

*index.md
/docs/bricks*
/docs/designmode* @plw307
/docs/formulas*
/docs/interfaces*
/docs/latest-updates* @maxsk-ger
/docs/member-management* 
/docs/tiles*
/docs/workflows*
/docs/workspace-settings*
/docs/beta*
/docs/credits*
/docs/data-structure* @maxsk-ger
/docs/first-steps* @MareenToebber
/docs/health-check* 
/docs/program-structure* 
/docs/solutions*

# ==================================================================
#                    Old Pages (will be deleted soon)
# ==================================================================

*old* @maxsk-ger

Extend list formulas, add list-formular
  docs/formulas/childs/list-formulas.md
  docs/formulas/formulas.md
  docs/record-spec-settings/grand-child-expanded/listformular.md
Owners: none

Reformat list formulas
  docs/formulas/childs/list-formulas.md
  docs/formulas/formulas.md
Owners: none

Fix nav order and improve generated tables
  docs/record-spec-settings/childs/base.md
  docs/record-spec-settings/childs/expanded.md
  docs/record-spec-settings/childs/form.md
  docs/record-spec-settings/grand-child-expanded/article scanner.md
  docs/record-spec-settings/grand-child-expanded/change-log.md
  docs/record-spec-settings/grand-child-expanded/chatgpt-image-scanner.md
  docs/record-spec-settings/grand-child-expanded/chatgpt.md
  docs/record-spec-settings/grand-child-expanded/drawing.md
  docs/record-spec-settings/grand-child-expanded/file-link.md
  docs/record-spec-settings/grand-child-expanded/image-link.md
  docs/record-spec-settings/grand-child-expanded/qr-barcode.md
  docs/record-spec-settings/record-spec-settings.md
Owners: none

Improve nav order
  docs/beta.md
  docs/credits.md
  docs/health-check.md
  docs/interfaces/interfaces.md
  docs/solutions.md
Owners: none

Add dynamic expression POC
  _data/expressions.json
  _layouts/title.md
  docs/formulas/formulas.md
Owners: none

added expression trim to the docs
  docs/formulas/childs/text-formulas.md
  docs/formulas/formulas.md
Owners: none

added expression jsonEncode to the docs
  docs/formulas/childs/text-formulas.md
  docs/formulas/formulas.md
Owners: none

added expressions get, tryParseDate and defaultDateTime to docs
  docs/formulas/childs/date-formulas.md
  docs/formulas/childs/list-formulas.md
  docs/formulas/formulas.md
Owners: none

fixed issue
  docs/formulas/childs/date-formulas.md
Owners: none

Add attachment documentation to get-emails-step
  docs/workflows/grand-childs-bricks/get-emails.md
Owners: none

Add documentation for calendar shares
  Gemfile.lock
  _config.yml
  docs/calendar-shares.md
Owners: @maxsk-ger, @cJannik

added info for the expression replaceRegExp
  docs/formulas/childs/text-formulas.md
  docs/formulas/formulas.md
Owners: none

added info for the expressions getFirst and getAll
  docs/formulas/childs/text-formulas.md
  docs/formulas/formulas.md
Owners: none

Add xml page
  docs/record-spec-settings/grand-child-expanded/article scanner.md
  docs/record-spec-settings/grand-child-expanded/change-log.md
  docs/record-spec-settings/grand-child-expanded/chatgpt-image-scanner.md
  docs/record-spec-settings/grand-child-expanded/chatgpt.md
  docs/record-spec-settings/grand-child-expanded/file-link.md
  docs/record-spec-settings/grand-child-expanded/image-link.md
  docs/record-spec-settings/grand-child-expanded/qr-barcode.md
  docs/record-spec-settings/grand-child-expanded/xml.md
Owners: none

Dont show ToDos
  docs/record-spec-settings/grand-child-expanded/xml.md
Owners: none

Auto generate expressions on overview page
  _data/expressions.json
  _data/expressions_docs.json
  _includes/expression_category.html
  docs/formulas/formulas.md
Owners: @maxsk-ger, @cJannik

Adjust expression generation, add pages for workflow steps
  _data/expressions_docs.json
  docs/formulas/formulas.md
  docs/interfaces/children/calendar-shares.md
  docs/interfaces/children/import-export.md
  docs/workflows/steps/advanced/advanced.md
  docs/workflows/steps/advanced/checkout.md
  docs/workflows/steps/advanced/create-user.md
  docs/workflows/steps/advanced/get-emails.md
  docs/workflows/steps/advanced/import-table.md
  docs/workflows/steps/advanced/invitation.md
  docs/workflows/steps/advanced/run-action.md
  docs/workflows/steps/advanced/send-email.md
  docs/workflows/steps/advanced/send-notification.md
  docs/workflows/steps/advanced/waiting.md
  docs/workflows/steps/advanced/web-request.md
  docs/workflows/steps/advanced/webhook.md
  docs/workflows/steps/basic/basic.md
  docs/workflows/steps/basic/message.md
  docs/workflows/steps/basic/set-variables.md
  docs/workflows/steps/edit-records/delete-record.md
  docs/workflows/steps/edit-records/edit-records.md
  docs/workflows/steps/edit-records/modify-record.md
  docs/workflows/steps/edit-records/send-approval-request.md
  docs/workflows/steps/edit-records/wait-for-approval.md
  docs/workflows/steps/load-records/choose-record.md
  docs/workflows/steps/load-records/create-record.md
  docs/workflows/steps/load-records/duplicate-record.md
  docs/workflows/steps/load-records/first-record.md
  docs/workflows/steps/load-records/iterate-records.md
  docs/workflows/steps/load-records/load-records.md
  docs/workflows/steps/structure/continue-if.md
  docs/workflows/steps/structure/iterate-list.md
  docs/workflows/steps/structure/structure.md
  docs/workflows/steps/structure/switch.md
Owners: none

Copy old workflow step content into new pages
  docs/workflows/steps/advanced/checkout.md
  docs/workflows/steps/advanced/create-user.md
  docs/workflows/steps/advanced/get-emails.md
  docs/workflows/steps/advanced/import-table.md
  docs/workflows/steps/advanced/invitation.md
  docs/workflows/steps/advanced/run-action.md
  docs/workflows/steps/advanced/send-email.md
  docs/workflows/steps/advanced/send-notification.md
  docs/workflows/steps/advanced/waiting.md
  docs/workflows/steps/advanced/web-request.md
  docs/workflows/steps/advanced/webhook.md
  docs/workflows/steps/basic/message.md
  docs/workflows/steps/basic/set-variables.md
  docs/workflows/steps/edit-records/delete-record.md
  docs/workflows/steps/edit-records/edit-records.md
  docs/workflows/steps/edit-records/modify-record.md
  docs/workflows/steps/edit-records/send-approval-request.md
  docs/workflows/steps/edit-records/wait-for-approval.md
  docs/workflows/steps/load-records/choose-record.md
  docs/workflows/steps/load-records/create-record.md
  docs/workflows/steps/load-records/duplicate-record.md
  docs/workflows/steps/load-records/first-record.md
  docs/workflows/steps/load-records/iterate-records.md
  docs/workflows/steps/structure/continue-if.md
  docs/workflows/steps/structure/iterate-list.md
  docs/workflows/steps/structure/switch.md
Owners: none

remove internal page references from old content
  docs/workflows/steps/advanced/get-emails.md
  docs/workflows/steps/advanced/send-email.md
  docs/workflows/steps/advanced/send-notification.md
  docs/workflows/steps/advanced/web-request.md
  docs/workflows/steps/advanced/webhook.md
  docs/workflows/steps/edit-records/send-approval-request.md
  docs/workflows/steps/edit-records/wait-for-approval.md
  docs/workflows/steps/load-records/choose-record.md
Owners: none

Adjust default layout
  _config.yml
  _includes/nav_footer_custom.html
  _includes/search_placeholder_custom.html
  _includes/toc_heading_custom.html
Owners: @maxsk-ger, @cJannik

Add new layout for workflow steps
  _layouts/workflow-step.md
  docs/interfaces/children/calendar-shares.md
  docs/interfaces/children/import-export.md
  docs/workflows/steps/advanced/advanced.md
  docs/workflows/steps/advanced/checkout.md
  docs/workflows/steps/advanced/create-user.md
  docs/workflows/steps/advanced/get-emails.md
  docs/workflows/steps/advanced/import-table.md
  docs/workflows/steps/advanced/invitation.md
  docs/workflows/steps/advanced/run-action.md
  docs/workflows/steps/advanced/send-email.md
  docs/workflows/steps/advanced/send-notification.md
  docs/workflows/steps/advanced/waiting.md
  docs/workflows/steps/advanced/web-request.md
  docs/workflows/steps/advanced/webhook.md
  docs/workflows/steps/basic/basic.md
  docs/workflows/steps/basic/message.md
  docs/workflows/steps/basic/set-variables.md
  docs/workflows/steps/edit-records/delete-record.md
  docs/workflows/steps/edit-records/edit-records.md
  docs/workflows/steps/edit-records/modify-record.md
  docs/workflows/steps/edit-records/send-approval-request.md
  docs/workflows/steps/edit-records/wait-for-approval.md
  docs/workflows/steps/load-records/choose-record.md
  docs/workflows/steps/load-records/create-record.md
  docs/workflows/steps/load-records/duplicate-record.md
  docs/workflows/steps/load-records/first-record.md
  docs/workflows/steps/load-records/iterate-records.md
  docs/workflows/steps/load-records/load-records.md
  docs/workflows/steps/structure/continue-if.md
  docs/workflows/steps/structure/iterate-list.md
  docs/workflows/steps/structure/structure.md
  docs/workflows/steps/structure/switch.md
Owners: none

Add new page for text expressions WIP
  docs/formulas/text-formulas.md
  docs/interfaces/calendar-shares.md
  docs/interfaces/import-export.md
  docs/workflows/steps/advanced/get-emails.md
Owners: none

Build designmode structure with old contents
  docs/designmode/childs/list_view_design_mode.md
  docs/designmode/childs/record_design_mode.md
  docs/designmode/childs/workflow_design_mode.md
  docs/designmode/childs/workspace_design_mode.md
  docs/designmode/designmode.md
Owners: @plw307

Remove recordSpec types from designmode page since there is going to be a separate page for that
  docs/designmode/childs/workspace_design_mode.md
Owners: @plw307

Remove internal links
  docs/designmode/childs/list_view_design_mode.md
  docs/designmode/childs/record_design_mode.md
  docs/designmode/childs/workflow_design_mode.md
  docs/designmode/childs/workspace_design_mode.md
Owners: @plw307

Add new pages for expression categories
  _data/expressions_docs.json
  _includes/expressions_table.html
  docs/formulas/date-formulas.md
  docs/formulas/list-formulas.md
  docs/formulas/logic-formulas.md
  docs/formulas/number-formulas.md
  docs/formulas/text-formulas.md
Owners: @maxsk-ger, @cJannik

Add redirection test
  _config.yml
  docs/workflows/grand-childs-bricks/alter-record.md
Owners: @maxsk-ger, @cJannik

Add redirections from old to new locations
  Gemfile.lock
  _config.yml
  docs/formulas/date-formulas.md
  docs/formulas/list-formulas.md
  docs/formulas/number-formulas.md
  docs/formulas/other-formulas.md
  docs/formulas/text-formulas.md
  docs/interfaces/calendar-shares.md
  docs/interfaces/import-export.md
  docs/interfaces/rest-api.md
  old-docs-f/old-docs/calendar-shares.md
  old-docs-f/old-docs/import-export.md
  old-docs-f/old-docs/last-updates/latest-updates.md
  old-docs-f/old-docs/tutorials/Tutorials.md
  old-docs-f/old-docs/tutorials/childs/connect-list-employee.md
  old-docs-f/old-docs/tutorials/childs/employee-list.md
  old-docs-f/old-docs/tutorials/childs/time-trakcing.md
  old-docs-f/old-docs/tutorials/childs/to-do-list.md
Owners: @maxsk-ger, @cJannik

Move content, adjust styling and layout
  _sass/color_schemes/uni_light.scss
  docs/changelog/changelog.md
  docs/formulas/date-formulas.md
  docs/formulas/text-formulas.md
  docs/program-structure.md
  old-docs-f/old-docs/beta.md
  old-docs-f/old-docs/sitemap.md
Owners: @maxsk-ger, @cJannik

Add more redirections
  docs/bricks/bricks.md
  docs/changelog/changelog.md
  docs/designmode/designmode.md
  docs/first-steps.md
  docs/formulas/formulas.md
  docs/interfaces/interfaces.md
  docs/program-structure.md
  docs/workflows/workflows.md
Owners: @plw307, @MareenToebber

Member management structure
  docs/member-management/childs/invitations-member-management.md
  docs/member-management/childs/roles-rights-member-management.md
  docs/member-management/member-management.md
Owners: none

Workspace settings part 1
  docs/designmode/designmode.md
  docs/workspace-settings/childs/mailing-workspace-settings.md
  docs/workspace-settings/workspace-settings.md
Owners: @plw307

ChatGPT workspace settings page
  docs/workspace-settings/childs/chatgpt-workspace-settings.md
Owners: none

Notifications workspace settings page
  docs/workspace-settings/childs/notifications-workspace-settings.md
Owners: none

Print-out workspace setting page (does not exist?)
  docs/workspace-settings/childs/print-out-workspace-settings.md
Owners: none

Multi language workspace setting page
  docs/workspace-settings/childs/multi-language-workspace-settings.md
Owners: none

Portal mode workspace setting page
  docs/workspace-settings/childs/portal-mode-workspace-settings.md
Owners: none

Shortcuts workspace setting (no content yet)
  docs/workspace-settings/childs/shortcuts-workspace-settings.md
Owners: none

Update file names
  docs/designmode/childs/list_view.md
  docs/designmode/childs/record.md
  docs/designmode/childs/workflow.md
  docs/designmode/childs/workspace.md
  docs/member-management/childs/invitations.md
  docs/member-management/childs/roles-rights.md
  docs/workspace-settings/childs/chatgpt.md
  docs/workspace-settings/childs/mailing.md
  docs/workspace-settings/childs/multi-language.md
  docs/workspace-settings/childs/notifications.md
  docs/workspace-settings/childs/portal-mode.md
  docs/workspace-settings/childs/print-out.md
  docs/workspace-settings/childs/shortcuts.md
Owners: @plw307

Update layout types
  docs/designmode/childs/list_view.md
  docs/designmode/childs/record.md
  docs/designmode/childs/workflow.md
  docs/designmode/childs/workspace.md
  docs/member-management/childs/invitations.md
  docs/member-management/childs/roles-rights.md
  docs/workspace-settings/childs/chatgpt.md
  docs/workspace-settings/childs/mailing.md
  docs/workspace-settings/childs/multi-language.md
  docs/workspace-settings/childs/notifications.md
  docs/workspace-settings/childs/portal-mode.md
  docs/workspace-settings/childs/print-out.md
  docs/workspace-settings/childs/shortcuts.md
Owners: @plw307
