Repository univelop/univelop.github.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @maxsk-ger, @janneskoehler, @cJannik, @plw307, @MareenToebber

.github/CODEOWNERS:

# Here is defined who is responsible for which page in the repository
# Github Tags:
# Jannes: janneskoehler
# Mareen: MareenToebber
# Max: maxsk-ger
# Jannik: cJannik
# Paul: plw307


# ==================================================================
#                                Misc
# ==================================================================

.* @maxsk-ger
*README* @maxsk-ger
*LICENSE* @janneskoehler
*Gemfile* @maxsk-ger @cJannik
*CNAME* @janneskoehler
*favicon* @janneskoehler
*404* @maxsk-ger @cJannik
*prettier* @maxsk-ger @cJannik
*.gitignore @maxsk-ger @cJannik
*.yml @maxsk-ger @cJannik
*.scss @maxsk-ger @cJannik
*.css @maxsk-ger @cJannik
*_includes @maxsk-ger @cJannik


# ==================================================================
#                                Pages
# ==================================================================

*index.md
/docs/bricks*
/docs/designmode* @plw307
/docs/formulas*
/docs/interfaces*
/docs/latest-updates* @maxsk-ger
/docs/member-management* 
/docs/tiles*
/docs/workflows*
/docs/workspace-settings*
/docs/beta*
/docs/credits*
/docs/data-structure* @maxsk-ger
/docs/first-steps* @MareenToebber
/docs/health-check* 
/docs/program-structure* 
/docs/solutions*

# ==================================================================
#                    Old Pages (will be deleted soon)
# ==================================================================

*old* @maxsk-ger

Add redirect and delete child folders
  docs/designmode/designmode.md
  docs/designmode/list_view.md
  docs/designmode/record.md
  docs/designmode/workflow.md
  docs/designmode/workspace.md
  docs/health-check.md
  docs/member-management/invitations.md
  docs/member-management/member-management.md
  docs/member-management/roles-rights.md
  docs/workspace-settings/chatgpt.md
  docs/workspace-settings/mailing.md
  docs/workspace-settings/multi-language.md
  docs/workspace-settings/notifications.md
  docs/workspace-settings/portal-mode.md
  docs/workspace-settings/print-out.md
  docs/workspace-settings/shortcuts.md
Owners: @plw307

list_view.md to list-view.md
  docs/designmode/list-view.md
Owners: @plw307

Remove content from designmode.md
  docs/designmode/designmode.md
Owners: @plw307

Remove endless redirect
  docs/designmode/designmode.md
  docs/member-management/member-management.md
Owners: @plw307

First steps page
  docs/first-steps.md
Owners: @MareenToebber

Fix redirects
  docs/designmode/designmode.md
  docs/designmode/list-view.md
  docs/designmode/record.md
  docs/designmode/workflow.md
  docs/designmode/workspace.md
  docs/health-check.md
  docs/member-management/invitations.md
  docs/member-management/member-management.md
  docs/member-management/roles-rights.md
  docs/workspace-settings/chatgpt.md
  docs/workspace-settings/mailing.md
  docs/workspace-settings/multi-language.md
  docs/workspace-settings/notifications.md
  docs/workspace-settings/portal-mode.md
  docs/workspace-settings/print-out.md
  docs/workspace-settings/shortcuts.md
  docs/workspace-settings/workspace-settings.md
Owners: @plw307

Remove headlines since title layout is used instead
  docs/designmode/designmode.md
  docs/designmode/list-view.md
  docs/designmode/record.md
  docs/designmode/workflow.md
  docs/designmode/workspace.md
  docs/member-management/member-management.md
  docs/workspace-settings/chatgpt.md
  docs/workspace-settings/mailing.md
  docs/workspace-settings/multi-language.md
  docs/workspace-settings/notifications.md
  docs/workspace-settings/portal-mode.md
  docs/workspace-settings/workspace-settings.md
Owners: @plw307

Remove changelog subfolder
  Gemfile.lock
  docs/changelog/release-1-0-2203.md
  docs/changelog/release-1-1-2204.md
  docs/changelog/release-1-10-2301.md
  docs/changelog/release-1-11-2302.md
  docs/changelog/release-1-12-2303.md
  docs/changelog/release-1-13-2304.md
  docs/changelog/release-1-14-2305.md
  docs/changelog/release-1-15-2306.md
  docs/changelog/release-1-16-2307.md
  docs/changelog/release-1-17-2308.md
  docs/changelog/release-1-18-2309.md
  docs/changelog/release-1-19-2310.md
  docs/changelog/release-1-2-2205.md
  docs/changelog/release-1-20-2311.md
  docs/changelog/release-1-21-2312.md
  docs/changelog/release-1-22-2401.md
  docs/changelog/release-1-23-2402.md
  docs/changelog/release-1-24-2403.md
  docs/changelog/release-1-25-2403.md
  docs/changelog/release-1-26-2405.md
  docs/changelog/release-1-27-2406.md
  docs/changelog/release-1-28-2407.md
  docs/changelog/release-1-3-2206.md
  docs/changelog/release-1-4-2207.md
  docs/changelog/release-1-5-2208.md
  docs/changelog/release-1-6-2209.md
  docs/changelog/release-1-7-2210.md
  docs/changelog/release-1-8-2211.md
  docs/changelog/release-1-9-2212.md
Owners: @maxsk-ger, @cJannik

Add redirect for table
  docs/bricks/extended/table.md
Owners: none

Fix redirections for extended bricks
  docs/bricks/extended/approval.md
  docs/bricks/extended/bool-expression.md
  docs/bricks/extended/calendar.md
  docs/bricks/extended/changelog.md
  docs/bricks/extended/comments.md
  docs/bricks/extended/date-expression.md
  docs/bricks/extended/drawing.md
  docs/bricks/extended/file-link.md
  docs/bricks/extended/flow-button.md
  docs/bricks/extended/gpt-image-scanner.md
  docs/bricks/extended/gpt.md
  docs/bricks/extended/image-link.md
  docs/bricks/extended/item-scanner.md
  docs/bricks/extended/list-expression.md
  docs/bricks/extended/matrix.md
  docs/bricks/extended/number-expression.md
  docs/bricks/extended/print-out.md
  docs/bricks/extended/qr-barcode.md
  docs/bricks/extended/record-list.md
  docs/bricks/extended/record-picker.md
  docs/bricks/extended/release.md
  docs/bricks/extended/scheduler.md
  docs/bricks/extended/serial-number.md
  docs/bricks/extended/signature.md
  docs/bricks/extended/status-button.md
  docs/bricks/extended/status.md
  docs/bricks/extended/table.md
  docs/bricks/extended/text-expression.md
  docs/bricks/extended/webhook-button.md
  docs/bricks/extended/xml.md
Owners: none

Add missing formula pages
  docs/beta.md
  docs/credits.md
  docs/health-check.md
  docs/how-to-use-formulas/best-practices.md
  docs/how-to-use-formulas/conditions.md
  docs/how-to-use-formulas/date-formulas.md
  docs/how-to-use-formulas/examples.md
  docs/how-to-use-formulas/how-to-use-formulas.md
  docs/interfaces/interfaces.md
  docs/solutions.md
  docs/workflows/workflows.md
  docs/workspace-settings/workspace-settings.md
Owners: none

Set empty pages to unpublished
  _layouts/coming-soon.md
  docs/beta.md
  docs/changelog/changelog.md
  docs/credits.md
  docs/first-steps.md
  docs/health-check.md
  docs/member-management/invitations.md
  docs/member-management/roles-rights.md
  docs/solutions.md
  docs/workflows/workflows.md
  docs/workspace-settings/print-out.md
  docs/workspace-settings/shortcuts.md
Owners: @MareenToebber

Add changelog table header
  docs/changelog/changelog.md
Owners: none

fix beta
  docs/beta.md
Owners: none

Add missing pages and improve naming of tiles
  docs/power-features.md
  docs/tiles/form-tile.md
  docs/tiles/member-tile.md
  docs/tiles/scanner-tile.md
  docs/tiles/tiles.md
  docs/tiles/web-tile.md
Owners: none

Improve includes for bricks
  _includes/advanced_bricks_table.html
  _includes/basic_bricks_table.html
  _includes/input_bricks_table.html
  docs/bricks/advanced-bricks-table.md
  docs/bricks/advanced-bricks.md
  docs/bricks/basic-bricks-table.md
  docs/bricks/basic-bricks.md
  docs/bricks/bricks.md
  docs/bricks/input-bricks-table.md
  docs/bricks/input-bricks.md
Owners: @maxsk-ger, @cJannik

Reorder, add missing nav orders
  docs/interfaces/calendar-shares.md
  docs/interfaces/import-export.md
  docs/interfaces/rest-api.md
  docs/member-management/invitations.md
  docs/member-management/roles-rights.md
  docs/workflows/advanced/advanced.md
  docs/workflows/basic/basic.md
  docs/workflows/edit-records/edit-records.md
  docs/workflows/load-records/load-records.md
  docs/workflows/structure/structure.md
  docs/workspace-settings/chatgpt.md
  docs/workspace-settings/mailing.md
  docs/workspace-settings/multi-language.md
  docs/workspace-settings/notifications.md
  docs/workspace-settings/portal-mode.md
  docs/workspace-settings/print-out.md
  docs/workspace-settings/shortcuts.md
Owners: none

Move next button to the end of the page
  _includes/navigation_buttons.html
  _layouts/title.md
Owners: @maxsk-ger, @cJannik

Rename button include to next_page_button
  _includes/next_page_button.html
  _layouts/title.md
Owners: @maxsk-ger, @cJannik
